# Python
__pycache__/
*.pyc

# Virtual env
venv/
.venv/

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# Spark
spark-warehouse/
metastore_db/
derby.log
.ivy2/

# Data
data/output/
*.parquet

# Python build
*.egg-info/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db